* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Page basics --- */
body {
  font-family: "Poppins", system-ui, sans-serif;
  background-color: #f9f7f1;   /* soft beige */
  color: #222;
  line-height: 1.6;
  padding: 40px 60px;
}
.Box {
    background-color: #cbe7f2;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
